# 忽略 NetworkBenchmark 相关文件和目录
NetworkBenchmark/
**/NetworkBenchmark/
*NetworkBenchmark*


# Visual Studio / VS Code 忽略项
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D 生成的元数据文件
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D 生成的崩溃报告
sysinfo.txt

# 构建
*.apk
*.aab
*.unitypackage

# 崩溃报告
crashlytics-build.properties